* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
.nav {
  height: 3rem;
  border-bottom: 1px solid lightgrey;
}
.nav-toggle {
  position: absolute;
  cursor: pointer;
  margin: 0rem 1rem;
  right: 0;
}

svg {
  width: 1.5rem;
  fill: lightslategray;
}

.close {
  display: none;
}

.menu {
  margin-top: 0.2rem;
}

.nav-checkbox {
  display: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
}

.nav-item {
  list-style: none;
  display: none;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

#nav-checkbox:checked ~ ul.nav-menu li {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .close {
  display: block;
}

#nav-checkbox:checked ~ label.nav-toggle .menu {
  display: none;
}

@media only screen and (min-width: 560px) {
  .nav-toggle {
    display: none;
  }
  .nav-menu {
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav-item {
    display: block;
  }
}
