footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 0.5rem;
}
