.main-info {
  margin: 1rem;
  display: flex;
}

.main-info-text {
  align-content: flex-start;
  flex-wrap: wrap;
}

.info-hero-image {
  width: 100%;
  z-index: -1;
  max-height: 80vh;
  object-fit: cover;
}
