:root {
  font-family: 'IBM Plex Serif', serif;
}

.hero-image {
  width: 100%;
  z-index: -1;
  max-height: 70vh;
  object-fit: cover;
}

.month-container {
  display: flex;
  justify-content: center;
}

.month-info {
  background-color: rgb(190, 188, 188);
  height: 4rem;
  max-width: 800px;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000;
}
